<div class="index-container">
  <% @members.each do |member| %>

  <div class="index-child">
    <a class="member-name" href="/members/<%= member.id %>"><h3><%= member.first_name %> <%= member.last_name %></h3></a>
    <p><b>Goal: </b><%= member.goal %></p>
  </div>

  <% end %>
  <div class="index-child">
    <a class="new" href="/members/new">Add New</a>
  </div>

</div>
