<div class="member-container">
  <% @members.each do |member| %>

  <div class="member-child">
    <a class="member-name" href="/members/<%= member.id %>"><h3><%= member.first_name %> <%= member.last_name %></h3></a>
    <p>Goal: <%= member.goal %></p>
  </div>

  <% end %>
  <div class="member-child">
    <a class="edit" href="/members/new">Add New</a>
  </div>

</div>
