<div class="form-container">

<form class="" action="/members" method="post">
<h1>New Member</h1>

    <div class="form-child">
      <label for="first_name">First Name: </label>
    </div>
    <div class="form-child">
      <input type="text" name="first_name" id="first_name"/>
    </div>

    <div class="form-child">
      <label for="last_name">Last Name: </label>
    </div>
    <div class="form-child">
      <input type="text" name="last_name" id="last_name">
    </div>

    <div class="form-child">
      <label for="goal">Goal: </label>
    </div>
    <div class="form-child">
      <input type="text" name="goal" id="goal">
    </div>

    <div class="form-child">
      <input class="add" type="submit" value="Add Member"/>
    </div>

  </div>
</form>
