<div class="bg">
    <div class="caption">
    <span class="header">GYM</span>
    <br><br><br><br>
    <a href="/members/new"><span class="border">New Member</span></a>
    <a href="/sessions/new"><span class="border">New Session</span></a>
    <a href="/bookings/new"><span class="border">New Booking</span></a>
  </div>
</div>
