<div class="bg">
  <div class="caption">
    <h1><span class="border">WELCOME</span></h1>
    <br>
    <a href="/members/new"><span class="border">New Member</span></a>
    <a href="/sessions/new"><span class="border">New Session</span></a>
    <a href="/bookings/new"><span class="border">New Booking</span></a>
  </div>
</div>
