<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/main.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/members">Members</a>
      <a href="/sessions">Sessions</a>
      <a href="/bookings">Bookings</a>
    </nav>
  <%= yield %>
  </body>
</html>
