@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

nav {
  width: 100%;
  padding: 2% 5%;
  display: inline-flex;
  background-color:  #424242;
  box-shadow: 0px 10px 7px -1px rgba(0,0,0,0.35);
}

nav a {
  text-decoration: none;
  color: #fff;
  margin: 2%;
  font-size: 30px;
  border-left: solid black 2px;
  padding-left: 3%;
}
nav a:hover {
  color: #EDE200;
}


/* MEMBERS */
.member-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.member-child {
  width: 10%;
  padding: 1% 2%;
  margin: 1%;
  border-right: solid #424242 1px;
  /* border: solid red ; */
}

.member-show-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 10%;
}
.member-show-child {
  align-items: center;
  width: 50%;
  border: solid red ;
}

.form-container {
/* border: solid red ; */
width: 75%;
display: flex;
}
.form-child {
  /* border: solid red ; */
  width: 33%;
}
label {
  font-size: 30px;
  color: #424242;
}
input {
  font-size: 25px;
  width: 75%;
}

/* BUTTONS */
.member-name {
  text-decoration: none;
  color: #424242;
  font-size: 20px;
}
.member-name :hover {
  color: #EDE200;
}

.edit {
  background-color: dodgerblue;
  text-decoration: none;
  color: #fff;
  padding: 7px;
  border-radius: 4px;
  box-shadow: 0px 3px 5px 0px rgba(176,173,176,1);
  font-size: 18px;
}

.delete {
  background: red;
  border-radius: 6px;
  padding: 1%;
  font-size: 18px;
  color: #fff;
  margin-top: 20px;
  box-shadow: 0px 3px 5px 0px rgba(176,173,176,1);
  max-width: 13%;
}
