/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* Global */
body, html {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  height: 100%;
}
nav {
  display: inline-flex;
  width: 100%;
  background-color:  #424242;
  box-shadow: 0px 10px 7px -1px rgba(0,0,0,0.35);
}
a {
  text-decoration: none;
  color: dodgerblue;
}
a :hover {
  color: #EDE200;
}
nav a {
  color: #fff;
  margin: 2%;
  font-size: 30px;
  border-left: solid black 2px;
  padding-left: 3%;
}
nav a:hover {
  color: #EDE200;
}
h1 {
  color: #424242;
  text-decoration: underline;
}
h2, h3 {
  color: #424242;
}

/* HOME */
.bg {
  background-image: url("/images/Gym-BG.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  opacity: 0.5;
}
.bg h1 {
  font-size: 50px;
}
.caption {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #000;
}
.header {
  text-decoration: none;
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 40px;
  letter-spacing: 10px;
}
.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}
.caption span.border:hover {
    background-color: #fff;
    color: #111;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

/* INDEX ERB */
.index-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.index-child {
  width: 20%;
  padding: 1% 2%;
  margin: 1%;
  border-right: solid #424242 1px;
}

/* TABLE FOR LIST ERB */
.table-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.table-child {
  width: 20%;
  padding: 1% 2%;
  margin: 1%;
}
.row {
  width: 75%;
  /* border: solid red 1px; */
}
.field {
  padding: 0 10%;
  font-size: 25px;
}

/* SHOW_ERB */
.show-container {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  padding-top: 10%;
}
.show-child {
  width: 25%;
}

/* FORMS */
.form-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 5%;
}
.form-child {
  width: 100%;
  padding: 10% 0;
}
label {
  font-size: 30px;
  color: #424242;
}
input, select {
  font-size: 25px;
}

/* BUTTONS */
.member-name {
  text-decoration: none;
  color: #424242;
  font-size: 20px;
}
.member-name :hover {
  color: #EDE200;
}
.new, .add {
  text-decoration: none;
  color: #fff;
  padding: 7px;
  border-radius: 4px;
  box-shadow: 0px 3px 5px 0px rgba(176,173,176,1);
  font-size: 18px;
}
.new, .add a {
  margin-top: 15px;
}
.new {
  background-color: orange;
}
.add {
  background-color: lightgreen;
}
.edit {
  background-color: dodgerblue;
  text-decoration: none;
  color: #fff;
  padding: 7px;
  border-radius: 4px;
  box-shadow: 0px 3px 5px 0px rgba(176,173,176,1);
  font-size: 18px;
}
.edit a {
  margin-top: 15px;
}
.delete {
  background: red;
  border-radius: 6px;
  padding: 2% 6%;
  font-size: 18px;
  color: #fff;
  margin-top: 20px;
  box-shadow: 0px 3px 5px 0px rgba(176,173,176,1);
}
