/* MIXINS */
@main_blue: #44A5FF;
@main_yellow: #FFF1A8;


/* MAIN */
body {
  background-color: #44A5FF;
  font-family: sans-serif;
}

/* div {
  border: solid;
  border-color: red;
  border-width: thin;
} */

main {
  display: inline-flex;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.titles {
  width: 30%;
}

.film {
  width: 30%;
}

h1 {
  font-size: 60px;
  color: #FFF;
}

ul {

}

li {
  list-style: none;
  padding: 20px;
  margin: 0;
  border-bottom: solid;
  border-width: thin;
  border-color: #58B9E8;
}

.titles li:hover {
  background-color: #FFF1A8;
}

a {
  text-decoration: none;
  font-size: 50px;
  color: white;
}

.back {
  font-size: 25px;
}

.back:hover {
  text-decoration: underline;
}
