<div class="index-container">

  <% for booking in @bookings %>
  <div class="index-child">
    <a href="/bookings/<%= booking.id() %>">
    <h1><u>Booking <%= booking.id() %></u></h1>
    </a>
      <p><b>Member: </b><%= booking.member().first_name() %></p>
      <p><b>Workout: </b><%= booking.session().type() %></p>
    </div>
    <% end %>
    <div class="index-child">
    <a class="new" href="/bookings/new">New Booking</a>
  </div>

</div>
