<div class="table-container">
  <% for booking in @bookings %>
    <table class="row">
      <tr>
        <th class="field"><h4><%= booking.session().type() %></h4></th>
        <th class="field"><h4>Date</h4></th>
        <th class="field"><h4>Session Name</h4></th>
        <th class="field"><h4>3/10</h4></th>
        <th class="field"><h4>Time</h4></th>
      </tr>
    </table>
    <% end %>
    <div class="table-child">
      <a class="new" href="/bookings/new">New Booking</a>
      <a class="new" href="/bookings">Grid</a>
  </div>
</div>
