<div class="form-container">
  <form class="form" action="/bookings" method="post">
    <h1>New Booking</h1>

    <div class="form-child">
      <label for="member_id">Member: </label>
    </div>

    <div class="form-child">
      <select type="text" name="member_id" id="member_id">
        <% for member in @members %>
        <option value="<%= member.id() %>">
          <%= member.first_name() %>
        </option>
        <% end %>
        </select>
    </div>

    <div class="form-child">
      <label for="session_id">Session: </label>
    </div>
    <div class="form-child">
      <select type="text" name="session_id" id="session_id">
        <% for session in @sessions %>
      <option value="<%= session.id() %>"><%= session.type() %></option>
      <% end %>
      </select>
    </div>

    <div class="form-child">
      <input class="add" type="submit" value="Add Session"/>
    </div>

  </div>
</form>
