
<div>

    <p><%= @booking.member.first_name %></p>
    <p><%= @booking.session.type %> </p>


<a href="/bookings/<%= @booking.id %>/edit">Edit Booking</a>

<form action="/bookings/<%= @booking.id %>/delete" method="POST">
  <input class="btn btn--danger" type="submit" value="delete" />
</form>
</div>
