<form action="/sessions" method="post">
  <div class="form-container">

    <div class="form-child">
      <label for="type">Type: </label>
    </div>
    <div class="form-child">
      <input type="text" name="type" id="type"/>
    </div>

    <div class="form-child">
      <label for="trainer">Trainer: </label>
    </div>
    <div class="form-child">
      <input type="text" name="trainer" id="trainer">
    </div>

    <div class="form-child">
      <label for="room">Room: </label>
    </div>
    <div class="form-child">
      <input type="text" name="room" id="room">
    </div>

    <div class="form-child">
      <input type="submit" value="Add Session"/>
    </div>

  </div>
</form>
